.content {
    text-align: center;
    border: 1px solid black;
    border-radius: 25px;
    box-shadow: black;
    margin: 200px;
    padding: 50px;
    background: rgba(214, 214, 214, .2)
}

.text a {
    border: 1px solid #FF4444;
    color: #FF4444;
    -moz-transition: all 0.3s 0.01s ease; /*делаем плавный переход*/
    -o-transition: all 0.3s 0.01s ease;
    -webkit-transition: all 0.3s 0.01s ease;
}

.text a:hover {
    padding: 12px;
    border: 2px solid grey;
    border-radius: 0px;
    color: black;
}

body {
    background-image: url("../images/fon.jpg");
    font-family: sans-serif;
    margin: 0;
    padding: 0;
}

ul {
    text-align: center;
    list-style: none; /*убираем маркеры списка*/
    margin: 0; /*убираем отступы*/
    padding-left: 0; /*убираем отступы*/
    background: #FF4444; /*добавляем фон всему меню (заменив этот параметр, вы поменяете цвет всего меню)*/
    height: 50px; /*задаем высоту*/
}

ul a {
    text-decoration: none; /*убираем подчеркивание текста ссылок*/
    background: #FF4444; /*добавляем фон к пункту меню (заменив этот параметр, вы поменяете цвет всех пунктов меню)*/
    color: #fff; /*меняем цвет ссылок*/
    padding: 0 15px; /*добавляем отступ*/ /*меняем шрифт*/
    line-height: 50px; /*ровняем меню по вертикали*/
    display: block;

    -moz-transition: all 0.3s 0.01s ease; /*делаем плавный переход*/
    -o-transition: all 0.3s 0.01s ease;
    -webkit-transition: all 0.3s 0.01s ease;
}

ul a:hover {
    background: #D43737; /*добавляем эффект при наведении*/
}

ul li {
    display: inline-block;

    width: 300px;
    text-align: center;
}

h1 {
    font: 35pt "Calibri Light";
}

.nav-menu {
    text-align: center;

}

.nav-menu-a {
    padding: 10px;
    border: 1px solid grey;
    border-radius: 25px;
    text-decoration: none;
    color: black;

    -moz-transition: all 0.3s 0.01s ease; /*делаем плавный переход*/
    -o-transition: all 0.3s 0.01s ease;
    -webkit-transition: all 0.3s 0.01s ease;
}

.nav-menu-a:hover {
    padding: 12px;
    border: 2px solid grey;
    border-radius: 0px;
    color: black;
}


.list-header {
    padding-left: 25px;
    text-align: center;
    font: 25pt "Calibri Light";
}

.table-header {
    display: flex;
    justify-content: space-between;
    margin-left: 100px;
    margin-right: 100px;
    margin-top: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
    border-top: 1px solid #c1c1c1;
    border-bottom: 1px solid #c1c1c1;
    background: rgba(219, 219, 219, .65)
}

.table-header .column {
    width: 200px;
    padding-left: 30px;
    font-weight: 600;
}

.table-list > .column {
    width: 200px;
    padding-left: 25px;
}

.table-list > .column > input {
    outline: none;
}

.table-list {
    display: flex;
    justify-content: space-between;
    margin-left: 100px;
    margin-right: 100px;
    margin-bottom: 0;
    padding-top: 15px;
    padding-bottom: 15px;
    border-bottom: 1px solid #c1c1c1;
    background: rgba(219, 219, 219, .35);
}

.column > button {
    width: 80px;
    margin: 5px;
    height: 30px;
    border-radius: 10px;
    background: white;
    -moz-transition: all 0.3s 0.01s ease; /*делаем плавный переход*/
    -o-transition: all 0.3s 0.01s ease;
    -webkit-transition: all 0.3s 0.01s ease;
}

.column > button:hover {
    background: #FF4444;
    color: white;
}

input {
    height: 40px;
    border-radius: 5px;
    padding-left: 10px;
    border: 1px solid black;
    width: 200px;
}

input:focus {
    border-radius: 10px;
}

.button {
    border: 1px solid;
    border-radius: 25px;
    padding: 10px;
}

.button:hover {
    text-decoration: none !important;
}

.m-20 {
    margin-bottom: 20px;
}

.m-30 {
    margin-bottom: 30px;
}

.add-table {
    display: inline-grid;
    padding: 40px;
    border: 1px solid black;
    border-radius: 30px;
}

.add-table > input {
    outline: none;
    margin: 10px;
}

.add-table > button {
    width: 200px;
    margin: 10px;
    height: 30px
}

.datapicker {
    font: inherit;
    color: inherit;
    appearance: none;
    outline: none;
    background-color: transparent;
    height: 40px;
    border-radius: 5px;
    padding-left: 10px;
    border: 1px solid black;
    width: 200px !important;
}

[type=date] {
    width: 10rem;
    padding: .25rem 0 .25rem .5rem;
}

select {
    height: 40px !important;
    border-radius: 5px;
    padding-left: 10px;
    border: 1px solid black;
    width: 200px !important;
    margin: 10px;
}

.add-button {
    -moz-transition: all 0.3s 0.01s ease; /*делаем плавный переход*/
    -o-transition: all 0.3s 0.01s ease;
    -webkit-transition: all 0.3s 0.01s ease;
}

.add-button:hover {
    height: 40px;
    font-size:15px;
    border-radius:10px;
    cursor:pointer;
}
